@import "../assets/styles/common";

.Blind {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $backgroundColor;
  opacity: 1;
  transition: opacity 1s linear;
  justify-content: center;
  align-items: center;

  &.hidden {
    opacity: 0;
  }

  &.removed {
    display: none;
  }

  & .spinner {
    font-size: 2rem;
    color: lightgray;
  }
}
